<a href="https://colab.research.google.com/github/malikinza/Udemy-Data-Science-and-Machine-Learning-/blob/main/Pandas/01-SF%20Salaries%20Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='https://github.com/malikinza/Udemy-Data-Science-and-Machine-Learning-/blob/Pierian_Data_Logo.png?raw=1' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv('Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

** Check the head of the DataFrame. **

In [10]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [33]:
sal.drop(sal[sal.BasePay == 'Not Provided'].index, inplace = True)
sal['BasePay'] = sal['BasePay'].astype(float) #astype does not stay inplace
sal.BasePay.mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [38]:
sal.OvertimePay.dropna()
sal['OvertimePay'] = sal['OvertimePay'].astype(float)
sal.OvertimePay.max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [45]:
sal[sal.EmployeeName == 'JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [46]:
sal[sal.EmployeeName == 'JOSEPH DRISCOLL'].TotalPayBenefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [49]:
maxpay = sal.TotalPayBenefits.max()
sal[sal.TotalPayBenefits == maxpay].EmployeeName

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [50]:
minpay = sal.TotalPayBenefits.min()
sal[sal.TotalPayBenefits == minpay].EmployeeName

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [54]:
sal.groupby('Year').BasePay.mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [58]:
sal.JobTitle.nunique()

2158

** What are the top 5 most common jobs? **

In [110]:
jobtypes = sal.groupby('JobTitle').Id.count()
jobtypes.sort_values(ascending = False).head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [111]:
jobs = sal[sal.Year == 2013].groupby('JobTitle').count()
jobs[jobs.Id == 1].Id.count()

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [106]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [98]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

In [134]:
count = 0
for job in sal.JobTitle:
  if 'chief' in job.lower():
    count += 1
  else:
    count += 0
print(count)

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [140]:
sal.title_len = sal.JobTitle.apply(len) #broadcasts length function to each element in the col
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len           1.00000          -0.03692
TotalPayBenefits   -0.03692           1.00000

# Great Job!